.navbar-default .navbar-brand {
    color: #021C35;
    font-size: 150%;
}

#sidebar {
    height: 100%;
    position: fixed;
    overflow: hidden;
    padding-top: 55px;
}

#sidebar, #sidebar a {
    color: cornflowerblue;
    background-color: #021C35;
}

.navbar {
    background-color: #55ACEE;
    border-bottom-color: #55ACEE;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: black;
    background: lightblue;
}

.navbar-default .navbar-nav li a {
    color: white;
}

.navbar-default .navbar-nav > .active > a {
    background-color: white;
}

section {
    padding-top: 30px;
    padding-bottom: 100px;
    margin-bottom: -100px;
    overflow-x: hidden;
}

.panel {
    padding-top: 15px;
}

#sidebar > .nav-stacked > li > a:hover,
#sidebar > .nav-stacked > li > .active,
#sidebar > .nav-stacked > li > .focus {
    font-size: 140%;
    color: indianred;
}

a {
    outline: none;
}

#sidebar > .nav-stacked > li > a {
    padding-bottom: 3px;
    transition: all .1s linear;
}

#sidebar > .nav-stacked > li > a {
    transform: scale(1.1);
}

/*
body {
    margin-bottom: 60px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    height: 60px;
    background-color: #000000;
}
*/

/* fixes some angular bootstrap errors*/
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.member {
    padding: 0;
}

.panel-group {
    margin: 2px;
}

/* Example sections*/
.example-section {
    height: 100vh;
    padding-top: 30px;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

html {
    width: 100%;
    height: 100%;
}
