<div ng-controller="DocsCtrl">
    <div class="col-sm-3 col-xs-4" id="sidebar">
        <!-- sidebar -->
        <ul class="nav nav-stacked">
            <li><h3>Endpoints <i class="glyphicon glyphicon-cloud-upload pull-right"></i></h3></li>
            <li><a href="#members" du-smooth-scroll offset="30">GET members/</a></li>
            <li><a href="#memberId" du-smooth-scroll offset="30">GET members/{id}</a></li>
            <li><a href="#memberIdSpeeches" du-smooth-scroll offset="30">GET members/{id}/speeches</a></li>
            <li><a href="#parties" du-smooth-scroll offset="30">GET parties/</a></li>
            <li><a href="#partyId" du-smooth-scroll offset="30">GET parties/{id}</a></li>
            <li><a href="#partyIdMembers" du-smooth-scroll offset="30">GET parties/{id}/members</a></li>
            <li><a href="#sessions" du-smooth-scroll offset="30">GET sessions/</a></li>
            <li><a href="#sessionId" du-smooth-scroll offset="30">GET sessions/{id}</a></li>
            <li><a href="#sessionIdSpeeches" du-smooth-scroll offset="30">GET sessions/{id}/speeches</a></li>
            <li><a href="#speeches" du-smooth-scroll offset="30">GET speeches/</a></li>
            <li><a href="#speechId" du-smooth-scroll offset="30">GET speeches/{id}</a></li>
        </ul>
    </div>
    <!-- /sidebar -->

    <!-- documentation -->
    <div ng-include="'panelDocs.html'"></div>
    <!-- /documentation -->
</div>