<div class="col-md-10 col-md-offset-1">
    <uib-accordion ng-repeat="m in members">
        <uib-accordion-group is-open="open" panel-class="panel panel-primary member">
            <uib-accordion-heading>
                <span>{{$index + 1 + count}}. {{m.name}} {{m.lastName}}</span>
                <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': open, 'glyphicon-chevron-right': !open}"></i>
            </uib-accordion-heading>
            <button class="btn btn-default" ng-click="getSpeeches(m.id, currentPage1)">Show speeches</button>
            <p ng-if="m.birthDate">Birth date: {{m.birthDate}}</p>

            <p ng-if="m.birthPlace">Birth place: {{m.birthPlace}}</p>

            <p ng-if="m.gender">Gender: {{m.gender}}</p>

            <p ng-if="m.biography">Biography: {{m.biography}}</p>
            <h4>Stranke</h4>

            <div ng-repeat="p in m.parties">
                {{$index + 1}}. {{p.title}}
            </div>
        </uib-accordion-group>
    </uib-accordion>
    <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                    class="pagination-sm text-center"
                    boundary-links="true" rotate="false"
                    ng-change="getMembers(currentPage, memberName)"></uib-pagination>
</div>

